@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

.page {
  background-color: black;
  color: white;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  margin-top: 45px;
}

.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: center;
  background-position: center;
  margin-right: 30px;
}

.profile__name {
  color: #fff;
  font-family: Inter;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  grid-area: title;
  margin: 0;
}

.profile__description {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  grid-area: description;
  margin: 0;
}

.profile__edit-button {
  background: transparent url(../images/Edit-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 24px;
  width: 24px;
  border: solid white 1px;
  grid-area: button;
}

.profile__add-button {
  background: transparent url(../images/Add-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  width: 150px;
  border: solid white 2px;
  margin-left: auto;
}

.cards {
  color: #000;
  font-family: Inter, Arial, Helvetica, sans-serif;
  margin-top: 50px;
}

.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin: 0;
}

.card {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  list-style-type: none;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
}

.card__description {
  display: flex;
  background: white;
  color: black;
  padding: 25px 20px 25px 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px 0px 10px 10px;
}

.card__like-button {
  background: transparent url(../images/Like-icon.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}
